/* basic padding and margin */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans Unicode';
}
a{
    text-decoration: none;
}
header{
    display: flex;
    background-color:#d4af06;
    justify-content: center;
}
.heading a{
    color:#fff;
    display: flex;
    justify-content:center ;
}
.button-list {
    background-color: #a9a9a9ab;
    justify-content: space-around;
    display: flex;
    width: auto; /* Expand to the width of the container */
    padding: 10px;
    list-style: none;
    margin: 0;
}

.butt{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(12, 11, 11);
    padding: 10px 7%; /* Adjust padding to be a percentage of the screen width */
    margin: 5px;
    background-color: #fff;
    color: orange;
}
.image-container{
    width: 98.8%;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; /* Align images to the top */
    padding: 7px;
}
.image-content img {
    width: 100%; /* Make images responsive within their container */
    height: 50%;
}
/* making inside the image container allocating width and background  */
.image-content{
    width: .5%;
    height: 460px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5px 10px;
    padding: 9px;
    flex: 1;
}
.image-content p{
    padding: 2px 25px;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
}

.image-content a{
    border:1px solid black;
    background-color:whitesmoke;
    color: rgb(15, 10, 10);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
}
.image-content div{
    margin-top:auto;
}
/* last image content should greater in size than other content */
.image-content:nth-child(3){
    flex: 2;
}
/* Giving black box before the footer */
.black-line{
    height: 9px;
    background-color: black;
    width: auto;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #d4af06;
    color:#fff;
}

@media (max-width:950px) {
    .butt{
        padding: 10px 4%; /* Adjust padding to be a percentage of the screen width */
        margin: 4px;
        background-color: #fff;
        color: orange;
    }
   
}


@media (max-width: 543px) {
   
    .butt {
        padding: 5px 3%;
    }
    
}