body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans Unicode';
}

a {
    text-decoration: none;
}

header {
    display: flex;
    background-color: #d4af06;
    justify-content: center;
}

.heading a {
    color: #fff;
    display: flex;
    justify-content: center;
}

.heading1 a {
    display: none;
}

.button-list {
    background-color: #a9a9a9ab;
    justify-content: space-around;
    display: flex;
    width: auto; /* Expand to the width of the container */
    padding: 10px;
    list-style: none;
    margin: 0;
}

.butt{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(12, 11, 11);
    padding: 10px 7%; /* Adjust padding to be a percentage of the screen width */
    margin: 5px;
    background-color: #fff;
    color: orange;
}


.image-container {
    background-color: gray;
    display: flex;
    justify-content: flex-start; /* Center images horizontally */
    align-items: flex-start; /* Align images to the top */
    flex-wrap: wrap;
    padding: 10px;
}

.image-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    height: 460px;
    padding: 9px;
    max-width: 410px;
     /* Allow images to take the full width of the container */
}

.image-content img {
    max-width: 100%; /* Make images responsive within their container */
    height: auto;
}

.image-content p {
    padding: 2px 17px;
    font-size: 14px;
}

.image-content a {
    border: 1px solid black;
    background-color: whitesmoke;
    color: rgb(15, 10, 10);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
}

.image-content div {
    margin-top: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #d4af06;
    color: #fff;
}

@media (max-width:950px) {
    .butt{
        padding: 10px 4%; /* Adjust padding to be a percentage of the screen width */
        margin: 4px;
        background-color: #fff;
        color: orange;
    }
}


@media (max-width: 543px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .butt {
        padding: 5px 3%;
    }

    .heading {
        display: none;
    }

    .heading1 a {
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .media-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
        justify-content: center;
    }
}
@media (max-width: 375px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .butt {
        padding: 5px 2%;
        color: orange;
    }

    .heading {
        display: none;
    }

    .heading1 a {
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .media-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
        justify-content: center;
    }
}